/* Generic stylers */

* {
	font-family: Featherwold;
}

a {
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
	padding: 0;
}
.title {
	opacity: 0.8;
}

.satisfy {
	font-family: 'Satisfy', cursive;
}

.paratext {
	opacity: 0.8;
	font-size: 1.05rem;
}

.container,
.journeyspread {
	padding-top: 100px;
	display: block;
}
.journeybanner {
	width: 100%;
}

.row {
	font-family: Featherwold;
}

.pillow {
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bannerhome {
	display: block;
	margin: 0;
	width: 100%;
	padding-top: 62px;
}

.backgroundi {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	margin-top: 70px;
}

.padder {
	padding-top: 25px;
}

.padder2 {
	padding-top: 100px;
	padding-bottom: 50px;
}

.icon {
	margin-top: 40px;
	height: 50px;
	width: 50px;
}

/* layout & containers */

.customcontainer {
	border: 1px grey;
	text-align: center;
	max-width: 90%;
	margin: 10px auto;
	padding: 10px 20px;
	background-color: lightgrey;
	opacity: 0.8;
}

.customcontainerwhite {
	border: 1px white;
	text-align: center;
	max-width: 90%;
	margin: 10px auto;
	padding: 10px 20px;
	background-color: white;
	opacity: 0.8;
}

.customcontainersmall {
	border: 1px grey;
	text-align: center;
	max-width: 90%;
	margin: 10px auto;
	padding: 10px 20px;
	background-color: lightgrey;
	opacity: 0.8;
}

footer {
	opacity: 0.7;
	text-align: center;
	position: fixed;
	height: 30px;
	bottom: 0;
	width: 100%;
}

/* interactivity */

.customcontainersmall:hover {
	opacity: 0.3;
}

a:hover {
	text-decoration: none;
	color: black;
}

/* Navbar */

.nav-link {
	font-family: Featherwold;
	font-size: 1.1rem;
}

ul.navbar-nav li {
	position: relative;
}
.tollfree {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

header[role="banner"] #logo-main {
	display: block;
	margin: 20px auto;
}
#navbar-primary.navbar-default {
	background: transparent;
	border: none;
}
#navbar-primary.navbar-default .navbar-nav {
	width: 100%;
	text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
	display: inline-block;
	float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
	padding-left: 30px;
	padding-right: 30px;
}
.loginbutton {
	float: right;
}

.icontext {
	padding-top: 20px;
	font-size: 0.9em;
	letter-spacing: 0.5em;
}

/* Contact form */
.contactinput {
	width: 100%;
	display: inline;
}

.formbox {
	padding-top: 40px;
	text-align: left;
}

.contactbox {
	display: inline-block;
}

.contacttext {
	font-family: Featherwold;
	font-size: 1.25em;
	letter-spacing: 0.5em;
	text-align: center;
}

/* cookies banner */

body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

.cd-cookies-banner {
	display: block;
	background-color: rgb(35, 41, 46);
	color: rgb(255, 255, 255);
	bottom: 0px;
	position: fixed;
	text-align: center;
	z-index: 9999;
	box-sizing: border-box;
	width: 100%;
	padding: .5rem;
	font-weight: 500;
	border: 0;
	margin: 0 auto;
	font-size: 9pt;
}
.cd-cookies-banner p {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}
.cd-cookies-banner p a {
	outline: none;
	color: hotpink;
	text-decoration: none;
}
.cd-cookies-banner p a:hover {
	color: #ffffff;
}
.cd-cookies-banner .cd-opt-in-btn {
	color: rgb(255, 255, 255);
	background-color: black;
	text-decoration: none;
	font-size: 11px;
	-webkit-border-radius: 4px;
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	text-decoration: none;
	display: inline-block;
	padding: 7px 16px 7px;
}
